name: Pull Request Check

on: pull_request

jobs:
  get-baseline:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.base.ref }}

      - name: Set tokens artifacts
        uses: actions/upload-artifact@v4
        with:
          name: tokens
          path: tokens/

  build:
    runs-on: ubuntu-latest
    outputs:
      tokens: ${{ steps.artifact.outputs.artifact-id }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 22.x
          registry-url: https://registry.npmjs.org

      - name: Install Dependencies
        run: yarn install --production=false

      - name: Parse tokens
        run: node utils/parser.js
        env:
          CHANGED: all

      - name: Set artifact
        id: artifact
        uses: actions/upload-artifact@v4
        with:
          name: exported-tokens
          path: export

  web-build:
    runs-on: ubuntu-latest
    needs: build
    if: ${{ needs.build.outputs.tokens }}
    steps:
      - name: Checkout canvas-tokens repository
        uses: actions/checkout@v3
        with:
          repository: Workday/canvas-tokens
          ref: ${{ github.event.pull_request.base.ref }}
          persist-credentials: false

      - uses: actions/setup-node@v3
        with:
          node-version: 22.x
          registry-url: https://registry.npmjs.org

      - name: Install Packages
        run: yarn

      - name: Build canvas-tokens
        run: yarn build:tokens

      - name: Clear canvas-tokens build
        run: yarn clean:tokens

      - name: Download exported tokens
        uses: actions/download-artifact@v4
        with:
          name: exported-tokens
          path: packages/canvas-tokens/tokens

      - name: Build canvas-tokens
        run: yarn build:tokens

      - name: Comment PR with Markdown report
        if: steps.validate-tokens.outputs.result != ''
        uses: thollander/actions-comment-pull-request@v3
        with:
          message: ${{ steps.validate-tokens.outputs.result }}
          comment-tag: css-tokens-validation
          github-token: ${{ secrets.GITHUB_TOKEN }}

  check-deprecated-tokens:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Check deprecated folders organization
        id: check-deprecated-folders
        run: echo "result=$(node utils/check/deprecatedFolder.js)" >> $GITHUB_OUTPUT

  visual-regression:
    runs-on: ubuntu-latest
    needs: get-baseline
    steps:
      - uses: actions/checkout@v4

      - name: Get tokens
        uses: actions/download-artifact@v4
        with:
          name: tokens
          path: tokens-base/

      - name: Run visual report and capture Markdown
        id: visual_report
        run: |
          REPORT_OUTPUT="$(node utils/visual-report.js)"
          echo "content<<EOF" >> $GITHUB_OUTPUT
          echo "$REPORT_OUTPUT" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - name: Comment PR with Markdown report
        if: steps.visual_report.outputs.content != ''
        uses: thollander/actions-comment-pull-request@v3
        with:
          message: ${{ steps.visual_report.outputs.content }}
          comment-tag: visual-regression
          github-token: ${{ secrets.GITHUB_TOKEN }}
